<div class="metap-list">
    @if (List.Title.Length > 0)
    {
        <div class="metap-title">@List.Title</div>
    }
    <input class="metap-new-caption" type="text" @bind="NewCaption" @onkeyup="OnKeyUp_NewCaption"/>
    @foreach (ListItem item in List.Items)
    {
        <ListItemView ListItem="item" />
    }
</div>
