@page "/about"
<h3>About</h3>

<p>This app was developed as a sample application to illustrate some development techniques.</p>
<p>For more information see <a href="https://metap.github.io/" target="_blank">MetaP</a> on GitHub.</p>
<p>Author: Paul Gordts</p>
